.menu-cont{
    height: 65px;
}
.menu-cont .uk-navbar-left{
    color: #fff;
}
.option-button-menu-device {
    display: none;
}

.menu-device {
    display: none;
}

.menu-push {
    background-image: url("../../image/dimension-abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bar-background-menu {
    background-image: url("../../image/bck-1.jpg");
    background-attachment: all;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding: 20px;
    margin: 0;
    background-image: url("../../image/vctNew.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}
footer ul li a{ color: orange; }

footer h2{
    color: #fff;
    font-size: 46px;
}

@media (max-width: 996px) {
    .menu-device {
        display: block;
    }
}

@media (max-width: 800px) {
    .menu-device {
        display: block;
    }
    .menu-right-ocult {
        display: none;
    }
}

@media (max-width: 776px) {
    .menu-device {
        display: block;
    }
    .menu-right-ocult {
        display: none;
    }
}


/* styles for device max 576 px or less */

@media (max-width: 576px) {
    .menu-device {
        display: block;
    }
    .menu-right-ocult {
        display: none;
    }
}